name: Main
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm install -g grunt-cli
      - run: npm install
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Unit Tests
        run: npm run unit-test
      # - name: Integration Tests
      #   run: npm run integration-test
